.side-menu {
  width: 260px;
  height: 315px;
  top: 70px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.side-menu-open {
  transform: translateX(0);
  opacity: 1;
}

.side-menu-closed {
  transform: translateX(-100%);
  opacity: 0;
}